body {
	background-image: url("../bilder/indexpic.jpg");
	background-size: cover;
}

h1 {
	font-family: monospace;
	font-size: 5em;
	margin-left: 1em;
	text-align: center;
	background-image:linear-gradient(white,#8C1B39);
	background-image: url(../bilder/headerimagehell.jpg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 10%;
	
}

h2 {
	font-family: monospace;	
}
		
	
	
#vorname {
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#nachname {
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);
}


#ladeadresse{
	font-size: 0.95em;
	font-family: monospace;
	
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#ort{
	font-size: 0.95em;
	font-family: monospace;
	
	opacity: 0.5;
	filter: alpha(opacity=50);

}
#gewicht {
	font-size: 0.95em;
	font-family: monospace;
	
	opacity: 0.5;
	filter: alpha(opacity=50);
}
	
#email {
	
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);
	

}
#telefon {
	
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);

}

#warenbezeichnung{
	
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);

}
#datum{
		
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#bemerkung {
	
	font-size: 0.95em;
	font-family: monospace;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#tabelle {
	margin-left: 6.6em;
	text-align: center;
	font-size: 1.4em;
	border: 1em;
	color: #FFFDF3;
	padding-right: 14px;	
}

th {
	height: 35px;
	
	background-color: #548058;
	
	padding-left: 16px;
	padding-right: 16px;
}

td {
	background-color: #548058;
	padding-left: 16px;
	padding-right: 16px;
}





.links {
	font-family: Latin;
	margin-left: 5em;
	font-size: 1.8em;
	color: white;
	text-align: center;	
}



.button {
	font-size: 1.2em;
	font-family: monospace;
	background-color: white;
	color: black;
	text-align: center;
	opacity: 0.5;
	filter: alpha(opacity=50);

}
#knopf:hover {
	background-color: #A8E5EB;
	color: black;	
}

#ausgabe {
	text-align: center;
	border: 0em;
	font-size: 1.8em;
	font-family: monospace;	
	color: #FFFDF3;
}

















